#workOuts{    
    position:absolute;
    top: 16%;
    left: 12.5%;
    width: 75%;
    height: 25%;
    font-size: 200%
}


#progress{    
    position:absolute;
    top: 58%;
    left: 12.5%;
    width: 75%;
    height: 25%;
    font-size: 200%;
}

#timeP{
    position: absolute;
    top: 45%;
    left: 55%;     
    font-size: 1000%
}

#infoP{
    position: absolute;
    top:45%;
    left: 18%;
    font-size: 300%;
    
}